    <div class="bs-docs-section">
        <h1 id="paginator" class="page-header">paginator</h1>
        <p class="lead">paginator</p>
        <h2 id="paginator-overview">概述</h2>
        <p>概述概述</p>
        <h2 id="paginator-examples">示例</h2>
        <p>示例示例</p>

        <div class="row">
            <div class="col-md-5">
                <label for="ctrlid">Label</label>
                <br />
                <ul 
                    paginator
                    data-t-page-index="3"
                    data-t-total-pages="19"></ul>
            </div>
            <div class="col-md-7">
                <pre class="prettyprint">
                &lt; &quot; &quot; &gt;
                </pre>
            </div>
        </div>

        <h2 id="paginator-api">API</h2>
        <p>APIAPI</p>

    </div> 