    <div class="bs-docs-section">
        <h1 id="paginator" class="page-header">paginator</h1>
        <p class="lead">paginator</p>
        <h2 id="paginator-overview">概述</h2>
        <p>概述概述</p>
        <h2 id="paginator-examples">示例</h2>
        <p>示例示例</p>

        <div class="row">
            <div class="col-md-12" ng-controller="paginatorController">
                <label for="ctrlid">简单分页</label>
                <form id="formQuery">
                    <div class="form-group">
                        <label>Name:</label>
                        <input id="name" type="text" name="name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="button" value="查询" class="btn btn-primary" ng-click="query()">
                        <input type="button" value="批量删除" class="btn btn-primary" ng-click="batchDelete()">
                    </div>
                </form>
                <table id="tblListData" class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" ng-click="toggleCheckBoxes($event)"/></th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Updated</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="entity in entities" ng-dblclick="edit(entity.id, $event)">
                            <th><input type="checkbox" value="{{entity.id}}"/></th>
                            <td>{{entity.id}}</td>
                            <td>{{entity.name}}</td>
                            <td>{{entity.updated}}<td>
                            <td><a href="#" ng-click="edit(entity.id, $event)">修改</a> | <a href="#" ng-click="deleteEntity(entity.id, $event)">删除</a></td>
                        </tr>
                    </tbody>
                </table>
                <!--
                    data-t-total-records="223"
                    data-t-page-size="10"
                    data-t-page-index="0"
                    data-t-page-buttons="5"
                -->
                <ul 
                    id="paginatorx"
                    paginator='{"options":"pageOptions", "ref":"pageRef"}'
                    ></ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label for="ctrlid">Label</label>
                <br />
                <ul 
                    paginator
                    data-t-total-records="223"
                    data-t-page-size="5"
                    data-t-page-index="13"
                    data-t-page-buttons="5"></ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <pre class="prettyprint">
                &lt; &quot; &quot; &gt;
                </pre>
            </div>
        </div>

        <h2 id="paginator-api">API</h2>
        <p>APIAPI</p>

    </div> 