<!-- input -->
<input 
    id="level"
    type="text"
    class="level form-control"
    name="level"
    value=""
    level
    data-s-level-names="省,市,区/县"
    data-s-data-url="/demo/components/level/data.json"
    />
<div class="t-level-container">
    <input type="text" autocomplete="off" />
</div>


<!-- menu -->
<div class="level-pop dropdown-menu">
    <div class="level-path">
        <ul class="level-tabs">
            <li data-s-level="0" class="tab-level-0 active"><a href="#">中国<span class="caret"></span></a></li>
            <li data-s-level="1" class="tab-level-1 active"><a href="#">省<span class="caret"></span></a></li>
            <li data-s-level="2" class="tab-level-2"><a href="#">市<span class="caret"></span></a></li>
            <li data-s-level="3" class="tab-level-3"><a href="#">区/县<span class="caret"></span></a></li>
        </ul>
    </div>
    <div class="level-0 level-content">
        <ul class="level-item">
            <li>中国</li><li>美国</li>
        <ul>
    </div>
    <div class="level-1 level-content">
        <ul class="level-item">
            <li>北京</li><li>上海</li><li>天津</li><li>重庆</li><li>河北</li><li>山西</li><li>河南</li><li>辽宁</li>
            <li>吉林</li><li>黑龙江</li><li>内蒙古</li><li>江苏</li><li>山东</li><li>安徽</li><li>浙江</li><li>福建</li>
            <li>湖北</li><li>湖南</li><li>广东</li><li>广西</li><li>江西</li><li>四川</li><li>海南</li><li>贵州</li>
            <li>云南</li><li>西藏</li><li>陕西</li><li>甘肃</li><li>青海</li><li>宁夏</li><li>新疆</li><li>台湾</li>
            <li>香港</li><li>澳门</li><li>钓鱼岛</li>
        <ul>
    </div>
    <div class="level-2 level-content">
        <ul class="level-item">
            <li>长沙市</li><li>株洲市</li><li>湘潭市</li><li>韶山市</li><li>衡阳市</li><li>邵阳市</li><li>岳阳市</li><li>常德市</li>
            <li>张家界市</li><li>郴州市</li><li>益阳市</li><li>永州市</li><li>怀化市</li><li>娄底市</li><li>湘西州</li>
        <ul>
    </div>
    <div class="level-3 level-content">
        <ul class="level-item">
            <li>南县</li><li>桃江县</li><li>安化县</li><li>沅江市</li><li>赫山区</li><li>资阳区</li>
        </ul>
    </div>
</div>