    <div class="bs-docs-section">
        <h1 id="dtpicker" class="page-header">dtpicker</h1>
        <p class="lead">dtpicker</p>
        <h2 id="dtpicker-overview">概述</h2>
        <p>概述概述</p>
        <h2 id="dtpicker-examples">示例</h2>
        <p>示例示例</p>

        <div class="row">
            <div class="col-md-5" ng-controller="bindController">
                <label for="ctrlid">Label</label>
                <span>{{dtpickerValue}}</span>
                <input type="button" value="2012-12-22 22:22:22" ng-click="dtpickerValue='2012-12-22 22:22:22'">
                <input 
                    id="ctrlidx"
                    type="type"
                    class="t-dtpicker form-control"
                    name="dtpicker"
                    value=""
                    dtpicker
                    ng-model="dtpickerValue"
                    data-t-format=""
                    />
            </div>
            <div class="col-md-7">
                <pre class="prettyprint">
                &lt; &quot; &quot; &gt;
                </pre>
            </div>
        </div>


<!--         <div class="row">
            <div class="col-md-12" ng-controller="bindController">
                <label for="ctrlid">Label</label>
                <span>{{dtpickerValue}}</span>
                <input type="button" value="2012-12-22 22:22:22" ng-click="dtpickerValue='2012-12-22 22:22:22'">
                <input 
                    id="ctrlid_dtpicker_inline"
                    type="type"
                    class="t-dtpicker"
                    name="dtpicker"
                    value=""
                    dtpicker
                    ng-model="dtpickerValue"
                    data-t-format=""
                    data-s-inline="true"
                    />
            </div>
        </div> -->

        <h2 id="dtpicker-api">API</h2>
        <p>APIAPI</p>

    </div> 