    <div class="bs-docs-section">
        <h1 id="orgselect" class="page-header">orgselect</h1>
        <p class="lead">orgselect需求</p>
        <h2 id="orgselect-overview">概述</h2>
        <p>概述概述</p>
        <h2 id="orgselect-examples">示例</h2>
        <p>示例示例</p>

        <!-- 
        -->
        <div class="row">
            <div class="col-md-5">
                <label for="orgselect">人员</label>
                <input 
                    id="orgselect"
                    type="text"
                    class="orgselect form-control"
                    name="orgselect"
                    value=""
                    orgselect
                    data-s-muliti="true"
                    data-s-orgselect-names="..."
                    data-s-data-url="/demo/components/orgselect/data.json"
                    />
            </div>
            <div class="col-md-7">
                <pre class="prettyprint">
&lt;input 
    id=&quot;orgselect&quot;
    typ=&quot;text&quot;
    name=&quot;orgselect&quot;
    value=&quot;&quot;
    orgselect
    data-s-muliti=&quot;true&quot;
    data-s-orgselect-names=&quot;...&quot;
    data-s-data-url=&quot;/demo/components/orgselect/data.json&quot;
    /&gt;
                </pre>
            </div>
        </div>


        <h2 id="orgselect-api">API</h2>
        <p>APIAPI</p>
    </div> 