	<div class="bs-docs-section">
		<h1 id="spinner" class="page-header">spinner</h1>
		<p class="lead">combobox需求</p>
		<h2 id="spinner-overview">概述</h2>
		<p>概述概述</p>
		<h2 id="spinner-examples">示例</h2>
		<div class="row">
			<div class="col-md-5" ng-controller="bindController">
				<label for="demo0">使用 data 属性示例</label>
				<span>{{spinnerValue}}</span>
                <input type="button" value="56" ng-click="spinnerValue='56'">
				<input 
					id="demo0"
					typ="text"
					name="demo0"
					spinner
					ng-model="spinnerValue"
					value="42"
					data-t-min="0"
					data-t-max="100"
					data-t-default-value=""
					data-t-step="1"
					data-t-decimal="0"
					data-t-vertical-buttons="false"
					/>
			</div>
            <div class="col-md-7">
                <pre class="prettyprint">
&lt;input 
    id=&quot;address&quot;
    typ=&quot;text&quot;
    name=&quot;address&quot;
    spinner
    value=&quot;42"
    data-t-min=&quot;0"
    data-t-max=&quot;100"
    data-t-default-value=&quot;&quot;
    data-t-step=&quot;1&quot;
    data-t-decimal=&quot;0&quot;
    data-t-vertical-buttons=&quot;false&quot;
    /&gt;
                </pre>
            </div>
		</div>
		<h2 id="spinner-api">API</h2>
		<p>APIAPI</p>
	</div> 