    <div class="bs-docs-section">
        <h1 id="typeahead" class="page-header">typeahead</h1>
        <p class="lead">typeahead</p>
        <h2 id="typeahead-overview">概述</h2>
        <p>概述概述</p>
        <h2 id="typeahead-examples">示例</h2>
        <p>示例示例</p>

        <div class="row">
            <div class="col-md-5">
                <label for="typeahead">Label</label>
                <input 
                    id="typeahead"
                    type="type"
                    class="t-typeahead form-control"
                    name="typeahead"
                    value=""
                    typeahead
                    data-s-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]'
                    data-s-data-url="/demo/components/typeahead/data.json"
                    />
            </div>
            <div class="col-md-7">
                <pre class="prettyprint">
                &lt; &quot; &quot; &gt;
                </pre>
            </div>
        </div>

        <h2 id="typeahead-api">API</h2>
        <p>APIAPI</p>

    </div> 