<!-- http://bootsnipp.com/snippets/featured/large-dropdown-menu -->

<!DOCTYPE html>
<!-- http://tools.ietf.org/html/bcp47 -->
<html lang="zh-cmn-Hans">
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <title>Large Dropdown Menu - bootsnipp snippets</title>

        <!-- css库 -->
        <link href="/libs/libs.css" rel="stylesheet">
        <link href="/framework/Triangle.css" rel="stylesheet">

        <!-- 文档扩展 -->
        <link href="/demo/assets/docs.min.css" rel="stylesheet">

        <link href="/refer/modules/FontAwesome/4.4.0/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/demo/app.css">

        <!--[if lt IE 9]><script src="/demo/assets/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="/refer/modules/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="/refer/modules/Respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="icon" href="/favicon.ico">

    </head>
<body>

	<div class="clearfix">
		<aside class="sidebar">
		<nav class="sidebar-nav">
			<ul id="menu">
				<li class="active">
					<a href="#">
						<span class="sidebar-nav-item-icon fa fa-github fa-lg"></span>
						<span class="sidebar-nav-item">metisMenu</span>
						<span class="fa arrow"></span>
					</a>
					<ul>
						<li>
							<a href="https://github.com/onokumus/metisMenu">
								<span class="sidebar-nav-item-icon fa fa-code-fork"></span>
								Fork
							</a>
						</li>
						<li>
							<a href="https://github.com/onokumus/metisMenu">
								<span class="sidebar-nav-item-icon fa fa-star"></span>
								Star
							</a>
						</li>
						<li>
							<a href="https://github.com/onokumus/metisMenu/issues">
								<span class="sidebar-nav-item-icon fa fa-exclamation-triangle"></span>
								Issues
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Menu 0 <span class="fa arrow"></span></a>
					<ul>
						<li><a href="#">item 0.1</a></li>
						<li><a href="#">item 0.2</a></li>
						<li><a href="http://onokumus.com">onokumus</a></li>
						<li><a href="#">item 0.4</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Menu 1 <span class="glyphicon arrow"></span></a>
					<ul>
						<li><a href="#">item 1.1</a></li>
						<li><a href="#">item 1.2</a></li>
						<li>
							<a href="#">Menu 1.3 <span class="fa plus-times"></span></a>
							<ul>
								<li><a href="#">item 1.3.1</a></li>
								<li><a href="#">item 1.3.2</a></li>
								<li><a href="#">item 1.3.3</a></li>
								<li><a href="#">item 1.3.4</a></li>
							</ul>
						</li>
						<li><a href="#">item 1.4</a></li>
						<li>
							<a href="#">Menu 1.5 <span class="fa plus-minus"></span></a>
							<ul>
								<li><a href="#">item 1.5.1</a></li>
								<li><a href="#">item 1.5.2</a></li>
								<li><a href="#">item 1.5.3</a></li>
								<li><a href="#">item 1.5.4</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Menu 2 <span class="glyphicon arrow"></span></a>
					<ul>
						<li><a href="#">item 2.1</a></li>
						<li><a href="#">item 2.2</a></li>
						<li><a href="#">item 2.3</a></li>
						<li><a href="#">item 2.4</a></li>
					</ul>
				</li>
			</ul>
			</nav>
		</aside>
		<section class="content">
		<div class="col-xs-12">
			<h3>Auto Collapse <small>default</small></h3>
			<div class="panel panel-default">
				<div class="panel-heading">
					Code
					<span class="pull-right"><span class="fa fa-code"></span></span>
				</div>
				<div class="panel-body">
					<pre>
						<code class="language-markup">
&lt;script src="jquery.metisMenu.js"&gt;&lt;/script&gt;
&lt;script&gt;
    $(function () {
        $('#menu').metisMenu();
    });
&lt;/script&gt;
						</code>
					</pre>
				</div>
			</div>
		</div>
		</section>
	</div>
	<hr>


    <div id="wrapper">
    </div>
    <!-- /#wrapper -->


    <!-- Placed at the end of the document so the pages load faster -->
    <!-- js -->
    <script src="/libs/libs.js"></script>
    <script type="text/javascript" src="/framework/Triangle.js"></script>

    <!-- 来源于/lib/Bootstrap/3.3.5/js/bootstrap.js， demo站点使用，放在assets中，framework不依赖 -->
    <!--
    
    -->
    <script src="/demo/assets/bootstrap.js"></script>

    <script type="text/javascript">
    	$(function () {
	        $('#menu').accoMenu();
	    });
    </script>
    

</body>

</html>