    <div class="bs-docs-section">
        <h1 id="template" class="page-header">template</h1>
        <p class="lead">template</p>
        <h2 id="template-overview">概述</h2>
        <p>概述概述</p>
        <h2 id="template-examples">示例</h2>
        <p>示例示例</p>

        <div class="row">
            <div class="col-md-5" ng-controller="bindController">
                <label for="ctrlid">Label</label>
                <span>{{templateValue}}</span>
                <input type="button" value="foo" ng-click="templateValue='foo'">
                <template 
                    id="ctrlid"
                    type="type"
                    class="t-template form-control"
                    name="template"
                    value=""
                    template
                    ng-model="templateValue"
                    data-t-template=""
                    data-t-data-url="/demo/controls/template/data.json"
                    />
            </div>
            <div class="col-md-7">
                <pre class="prettyprint">
                &lt; &quot; &quot; &gt;
                </pre>
            </div>
        </div>

        <h2 id="template-api">API</h2>
        <p>APIAPI</p>

    </div> 