    <div class="bs-docs-section">
        <h1 id="level" class="page-header">level</h1>
        <p class="lead">level需求</p>
        <h2 id="level-overview">概述</h2>
        <p>概述概述</p>
        <h2 id="level-examples">示例</h2>
        <p>示例示例</p>

        <!-- 
            330000,330600,330682
            230000,230200,230227
        -->
        <div class="row">
            <div class="col-md-5" ng-controller="bindController">
                <label for="level">双向绑定</label>
                <span>{{levelValue}}</span>
                <input type="button" value="浙江 / 绍兴 / 越城" ng-click="levelValue='330000,330600,330602'">
                <input 
                    id="level"
                    type="text"
                    class="level form-control"
                    name="level"
                    value=""
                    level
                    ng-model="levelValue"
                    data-t-level-names="省,市,区/县"
                    data-t-data-url="/demo/controls/level/data.json"
                    />
            </div>
            <div class="col-md-7">
                <pre class="prettyprint">
&lt;input 
    id=&quot;level&quot;
    typ=&quot;text&quot;
    name=&quot;level&quot;
    value=&quot;&quot;
    level
    data-t-level-names=&quot;省,市,区/县&quot;
    data-t-data-url=&quot;/demo/controls/level/data.json&quot;
    /&gt;
                </pre>
            </div>
        </div>


        <div class="row">
            <div class="col-md-5">
                <label for="level">地址</label>
                <input 
                    id="level"
                    type="text"
                    class="level form-control"
                    name="level"
                    value=""
                    level
                    data-t-level-names="省,市,区/县"
                    data-t-data-url="/demo/controls/level/data.json"
                    />
            </div>
            <div class="col-md-7">
                <pre class="prettyprint">
&lt;input 
    id=&quot;level&quot;
    typ=&quot;text&quot;
    name=&quot;level&quot;
    value=&quot;&quot;
    level
    data-t-level-names=&quot;省,市,区/县&quot;
    data-t-data-url=&quot;/demo/controls/level/data.json&quot;
    /&gt;
                </pre>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <label for="level">地址</label>
                <input 
                    id="level"
                    type="text"
                    class="level form-control"
                    name="level"
                    value="330000,330600"
                    level
                    data-t-level-names="省2,市2,区/县2"
                    data-t-data-url="/demo/controls/level/data.json"
                    />
            </div>
            <div class="col-md-7">
                <pre class="prettyprint">
&lt;input 
    id=&quot;level&quot;
    typ=&quot;text&quot;
    name=&quot;level&quot;
    value=&quot;330000,330600&quot;
    level
    data-t-level-names=&quot;省2,市2,区/县2&quot;
    data-t-data-url=&quot;/demo/controls/level/data.json&quot;
    /&gt;
                </pre>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <label for="level">地址</label>
                <input 
                    id="level"
                    type="text"
                    class="level form-control"
                    name="level"
                    value="230000,230200,230227"
                    level
                    disabled="true"
                    data-t-level-names="省,市,区/县"
                    data-t-data-url="/demo/controls/level/data.json"
                    />
            </div>
            <div class="col-md-7">
                <pre class="prettyprint">
&lt;input 
    id=&quot;level&quot;
    typ=&quot;text&quot;
    name=&quot;level&quot;
    value=&quot;230000,230200,230227&quot;
    level
    disabled=&quot;true&quot;
    data-t-level-names=&quot;省,市,区/县&quot;
    data-t-data-url=&quot;/demo/controls/level/data.json&quot;
    /&gt;
                </pre>
            </div>
        </div>


        <h2 id="level-api">API</h2>
        <p>APIAPI</p>
    </div> 