<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Tree View</title>
    <!-- css库 -->
        <link href="/libs/libs.css" rel="stylesheet">
        <link href="/framework/Triangle.css" rel="stylesheet">

        <!--[if lt IE 9]><script src="/demo/assets/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="/refer/modules/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="/refer/modules/Respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="icon" href="/favicon.ico">

  </head>
  <body>
    <div class="container">
        <h1>Bootstrap Tree View</h1>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <h2>Default</h2>
          <div id="tree1" class=""></div>
        </div>
        <div class="col-sm-4">
          <h2>Collapsed</h2>
          <div id="tree2" class=""></div>
        </div>
        <div class="col-sm-4">
          <h2>Expanded</h2>
          <div id="tree3" class=""></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h2>Blue Theme</h2>
          <div id="tree4" class=""></div>
        </div>
        <div class="col-sm-4">
          <h2>Custom Icons</h2>
          <div id="tree5" class=""></div>
        </div>
        <div class="col-sm-4">
          <h2>Tags as Badges</h2>
          <div id="tree6" class=""></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h2>No Border</h2>
          <div id="tree7" class=""></div>
        </div>
        <div class="col-sm-4">
          <h2>Colourful</h2>
          <div id="tree8" class=""></div>
        </div>
        <div class="col-sm-4">
          <h2>Node Overrides</h2>
          <div id="tree9" class=""></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <h2>Link enabled, or</h2>
          <div id="tree10" class=""></div>
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">

        </div>
      </div>
      <div class="row">
        <hr>
        <h2>Searchable Tree</h2>
        <div class="col-sm-4">
          <h2>Input</h2>
          <!-- <form> -->
            <div class="form-group">
              <label for="input-search" class="sr-only">Search Tree:</label>
              <input type="input" class="form-control" id="input-search" placeholder="Type to search..." value="">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" class="checkbox" id="chk-ignore-case" value="false">
                Ignore Case
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" class="checkbox" id="chk-exact-match" value="false">
                Exact Match
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" class="checkbox" id="chk-reveal-results" value="false">
                Reveal Results
              </label>
            </div>
            <button type="button" class="btn btn-success" id="btn-search">Search</button>
            <button type="button" class="btn btn-default" id="btn-clear-search">Clear</button>
          <!-- </form> -->
        </div>
        <div class="col-sm-4">
          <h2>Tree</h2>
          <div id="tree-searchable" class=""></div>
        </div>
        <div class="col-sm-4">
          <h2>Results</h2>
          <div id="search-output"></div>
        </div>
      </div>
      <div class="row">
        <hr>
        <h2>Selectable Tree</h2>
        <div class="col-sm-4">
          <h2>Input</h2>
          <div class="form-group">
            <label for="input-select-node" class="sr-only">Search Tree:</label>
            <input type="input" class="form-control" id="input-select-node" placeholder="Identify node..." value="Parent 1">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="checkbox" id="chk-select-multi" value="false">
              Multi Select
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="checkbox" id="chk-select-silent" value="false">
              Silent (No events)
            </label>
          </div>
          <div class="form-group">
              <button type="button" class="btn btn-success select-node" id="btn-select-node">Select Node</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-danger select-node" id="btn-unselect-node">Unselect Node</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary select-node" id="btn-toggle-selected">Toggle Node</button>
          </div>
        </div>
        <div class="col-sm-4">
          <h2>Tree</h2>
          <div id="tree-selectable" class=""></div>
        </div>
        <div class="col-sm-4">
          <h2>Events</h2>
          <div id="selectable-output"></div>
        </div>
      </div>
      <div class="row">
        <hr>
        <h2>Expandible Tree</h2>
        <div class="col-sm-4">
          <h2>Input</h2>
          <div class="form-group">
            <label for="input-expand-node" class="sr-only">Search Tree:</label>
            <input type="input" class="form-control" id="input-expand-node" placeholder="Identify node..." value="Parent 1">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="checkbox" id="chk-expand-silent" value="false">
              Silent (No events)
            </label>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <button type="button" class="btn btn-success expand-node" id="btn-expand-node">Expand Node</button>
            </div>
            <div class="col-sm-6">
              <select class="form-control" id="select-expand-node-levels">
                <option>1</option>
                <option>2</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-danger expand-node" id="btn-collapse-node">Collapse Node</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary expand-node" id="btn-toggle-expanded">Toggle Node</button>
          </div>
          <hr>
          <div class="form-group row">
            <div class="col-sm-6">
              <button type="button" class="btn btn-success" id="btn-expand-all">Expand All</button>
            </div>
            <div class="col-sm-6">
              <select class="form-control" id="select-expand-all-levels">
                <option>1</option>
                <option>2</option>
              </select>
            </div>
          </div>
          <button type="button" class="btn btn-danger" id="btn-collapse-all">Collapse All</button>
        </div>
        <div class="col-sm-4">
          <h2>Tree</h2>
          <div id="tree-expandible" class=""></div>
        </div>
        <div class="col-sm-4">
          <h2>Events</h2>
          <div id="expandible-output"></div>
        </div>
      </div>
      <div class="row">
        <hr>
        <h2>Checkable Tree</h2>
        <div class="col-sm-4">
          <h2>Input</h2>
          <div class="form-group">
            <label for="input-check-node" class="sr-only">Search Tree:</label>
            <input type="input" class="form-control" id="input-check-node" placeholder="Identify node..." value="Parent 1">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="checkbox" id="chk-check-silent" value="false">
              Silent (No events)
            </label>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <button type="button" class="btn btn-success check-node" id="btn-check-node">Check Node</button>
            </div>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-danger check-node" id="btn-uncheck-node">Uncheck Node</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary check-node" id="btn-toggle-checked">Toggle Node</button>
          </div>
          <hr>
          <div class="form-group row">
            <div class="col-sm-6">
              <button type="button" class="btn btn-success" id="btn-check-all">Check All</button>
            </div>
          </div>
          <button type="button" class="btn btn-danger" id="btn-uncheck-all">Uncheck All</button>
        </div>
        <div class="col-sm-4">
          <h2>Tree</h2>
          <div id="tree-checkable" class=""></div>
        </div>
        <div class="col-sm-4">
          <h2>Events</h2>
          <div id="checkable-output"></div>
        </div>
      </div>
      <div class="row">
        <hr>
        <h2>Disabled Tree</h2>
        <div class="col-sm-4">
          <h2>Input</h2>
          <div class="form-group">
            <label for="input-disable-node" class="sr-only">Search Tree:</label>
            <input type="input" class="form-control" id="input-disable-node" placeholder="Identify node..." value="Parent 1">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="checkbox" id="chk-disable-silent" value="false">
              Silent (No events)
            </label>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <button type="button" class="btn btn-success disable-node" id="btn-disable-node">Disable Node</button>
            </div>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-danger disable-node" id="btn-enable-node">Enable Node</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary disable-node" id="btn-toggle-disabled">Toggle Node</button>
          </div>
          <hr>
          <div class="form-group row">
            <div class="col-sm-6">
              <button type="button" class="btn btn-success" id="btn-disable-all">Disable All</button>
            </div>
          </div>
          <button type="button" class="btn btn-danger" id="btn-enable-all">Enable All</button>
        </div>
        <div class="col-sm-4">
          <h2>Tree</h2>
          <div id="tree-disabled" class=""></div>
        </div>
        <div class="col-sm-4">
          <h2>Events</h2>
          <div id="disabled-output"></div>
        </div>
      </div>
      <!--
      取消对字符串json的支持

        if (options.data) {
            if (typeof options.data === 'string') {
                this.settings.data = $.parseJSON(options.data);
            }
            this.tree = $.extend(true, [], this.settings.data);
            delete options.data;
        }


      <div class="row">
        <hr>
        <h2>Data</h2>
        <div class="col-sm-4">
          <h2>JSON Data</h2>
          <div id="tree12" class=""></div>
        </div>
        <div class="col-sm-4">
          <h2></h2>
          <div id="tree13" class=""></div>
        </div>
        <div class="col-sm-4">
          <h2></h2>
          <div id="tree14"></div>
        </div>
      </div>
        -->
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
    <script src="/libs/libs.js"></script>

    <!--<script src="./js/bootstrap-tree.js"></script>-->
    <script src="/framework/triangle.js"></script>
    <script type="text/javascript">

        $(function() {

        var defaultData = [
          {
            text: 'Parent 1',
            href: '#parent1',
            tags: ['4'],
            nodes: [
              {
                text: 'Child 1',
                href: '#child1',
                tags: ['2'],
                nodes: [
                  {
                    text: 'Grandchild 1',
                    href: '#grandchild1',
                    tags: ['0']
                  },
                  {
                    text: 'Grandchild 2',
                    href: '#grandchild2',
                    tags: ['0']
                  }
                ]
              },
              {
                text: 'Child 2',
                href: '#child2',
                tags: ['0']
              }
            ]
          },
          {
            text: 'Parent 2',
            href: '#parent2',
            tags: ['0']
          },
          {
            text: 'Parent 3',
            href: '#parent3',
             tags: ['0']
          },
          {
            text: 'Parent 4',
            href: '#parent4',
            tags: ['0']
          },
          {
            text: 'Parent 5',
            href: '#parent5'  ,
            tags: ['0']
          }
        ];

        var alternateData = [
          {
            text: 'Parent 1',
            tags: ['2'],
            nodes: [
              {
                text: 'Child 1',
                tags: ['3'],
                nodes: [
                  {
                    text: 'Grandchild 1',
                    tags: ['6']
                  },
                  {
                    text: 'Grandchild 2',
                    tags: ['3']
                  }
                ]
              },
              {
                text: 'Child 2',
                tags: ['3']
              }
            ]
          },
          {
            text: 'Parent 2',
            tags: ['7']
          },
          {
            text: 'Parent 3',
            icon: 'glyphicon glyphicon-earphone',
            href: '#demo',
            tags: ['11']
          },
          {
            text: 'Parent 4',
            icon: 'glyphicon glyphicon-cloud-download',
            href: '/demo.html',
            tags: ['19'],
            selected: true
          },
          {
            text: 'Parent 5',
            icon: 'glyphicon glyphicon-certificate',
            color: 'pink',
            backColor: 'red',
            href: 'http://www.tesco.com',
            tags: ['available','0']
          }
        ];

        // var json = '[' +
        //   '{' +
        //     '"text": "Parent 1",' +
        //     '"nodes": [' +
        //       '{' +
        //         '"text": "Child 1",' +
        //         '"nodes": [' +
        //           '{' +
        //             '"text": "Grandchild 1"' +
        //           '},' +
        //           '{' +
        //             '"text": "Grandchild 2"' +
        //           '}' +
        //         ']' +
        //       '},' +
        //       '{' +
        //         '"text": "Child 2"' +
        //       '}' +
        //     ']' +
        //   '},' +
        //   '{' +
        //     '"text": "Parent 2"' +
        //   '},' +
        //   '{' +
        //     '"text": "Parent 3"' +
        //   '},' +
        //   '{' +
        //     '"text": "Parent 4"' +
        //   '},' +
        //   '{' +
        //     '"text": "Parent 5"' +
        //   '}' +
        // ']';


        $('#tree1').tree({
          data: defaultData
        });

        $('#tree2').tree({
          levels: 1,
          data: defaultData
        });

        $('#tree3').tree({
          levels: 99,
          data: defaultData
        });

        $('#tree4').tree({

          color: "#428bca",
          data: defaultData
        });

        $('#tree5').tree({
          color: "#428bca",
          expandIcon: 'glyphicon glyphicon-chevron-right',
          collapseIcon: 'glyphicon glyphicon-chevron-down',
          nodeIcon: 'glyphicon glyphicon-bookmark',
          data: defaultData
        });

        $('#tree6').tree({
          color: "#428bca",
          expandIcon: "glyphicon glyphicon-stop",
          collapseIcon: "glyphicon glyphicon-unchecked",
          nodeIcon: "glyphicon glyphicon-user",
          showTags: true,
          data: defaultData
        });

        $('#tree7').tree({
          color: "#428bca",
          showBorder: false,
          data: defaultData
        });

        $('#tree8').tree({
          expandIcon: "glyphicon glyphicon-stop",
          collapseIcon: "glyphicon glyphicon-unchecked",
          nodeIcon: "glyphicon glyphicon-user",
          color: "yellow",
          backColor: "purple",
          onhoverColor: "orange",
          borderColor: "red",
          showBorder: false,
          showTags: true,
          highlightSelected: true,
          selectedColor: "yellow",
          selectedBackColor: "darkorange",
          data: defaultData
        });

        $('#tree9').tree({
          expandIcon: "glyphicon glyphicon-stop",
          collapseIcon: "glyphicon glyphicon-unchecked",
          nodeIcon: "glyphicon glyphicon-user",
          color: "yellow",
          backColor: "purple",
          onhoverColor: "orange",
          borderColor: "red",
          showBorder: false,
          showTags: true,
          highlightSelected: true,
          selectedColor: "yellow",
          selectedBackColor: "darkorange",
          data: alternateData
        });

        $('#tree10').tree({
          color: "#428bca",
          enableLinks: true,
          data: defaultData
        });



        var $searchableTree = $('#tree-searchable').tree({
          data: defaultData,
        });

        var search = function(e) {
          var pattern = $('#input-search').val();
          var options = {
            ignoreCase: $('#chk-ignore-case').is(':checked'),
            exactMatch: $('#chk-exact-match').is(':checked'),
            revealResults: $('#chk-reveal-results').is(':checked')
          };
          //var results = $searchableTree.tree('search', [ pattern, options ]);
          var plugin=$searchableTree.data('plugin-ref');
          var results=plugin.search(pattern, options);

          var output = '<p>' + results.length + ' matches found</p>';
          $.each(results, function (index, result) {
            output += '<p>- ' + result.text + '</p>';
          });
          $('#search-output').html(output);
        }

        $('#btn-search').on('click', search);
        $('#input-search').on('keyup', search);

        $('#btn-clear-search').on('click', function (e) {
          //$searchableTree.tree('clearSearch');
          var plugin=$searchableTree.data('plugin-ref');
          var results=plugin.clearSearch();

          $('#input-search').val('');
          $('#search-output').html('');
        });


        var initSelectableTree = function() {
          return $('#tree-selectable').tree({
            data: defaultData,
            multiSelect: $('#chk-select-multi').is(':checked'),
            onNodeSelected: function(event, node) {
              $('#selectable-output').prepend('<p>' + node.text + ' was selected</p>');
            },
            onNodeUnselected: function (event, node) {
              $('#selectable-output').prepend('<p>' + node.text + ' was unselected</p>');
            }
          });
        };
        var $selectableTree = initSelectableTree();

        var findSelectableNodes = function() {
          //return $selectableTree.tree('search', [ $('#input-select-node').val(), { ignoreCase: false, exactMatch: false } ]);
          var plugin=$selectableTree.data('plugin-ref');
          return plugin.search($('#input-select-node').val(), { ignoreCase: false, exactMatch: false });
        };
        var selectableNodes = findSelectableNodes();

        $('#chk-select-multi:checkbox').on('change', function () {
          console.log('multi-select change');
          //$selectableTree = initSelectableTree();
          var plugin=$selectableTree.data('plugin-ref');
          plugin.settings.multiSelect=$('#chk-select-multi').is(':checked');

          selectableNodes = findSelectableNodes();          
        });

        // Select/unselect/toggle nodes
        $('#input-select-node').on('keyup', function (e) {
          selectableNodes = findSelectableNodes();
          $('.select-node').prop('disabled', !(selectableNodes.length >= 1));
        });

        $('#btn-select-node.select-node').on('click', function (e) {
          //$selectableTree.tree('selectNode', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
          var plugin=$selectableTree.data('plugin-ref');
          plugin.selectNode(selectableNodes, { silent: $('#chk-select-silent').is(':checked') });
        });

        $('#btn-unselect-node.select-node').on('click', function (e) {
          //$selectableTree.tree('unselectNode', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
          var plugin=$selectableTree.data('plugin-ref');
          plugin.unselectNode(selectableNodes, { silent: $('#chk-select-silent').is(':checked') });
        });

        $('#btn-toggle-selected.select-node').on('click', function (e) {
          //$selectableTree.tree('toggleNodeSelected', [ selectableNodes, { silent: $('#chk-select-silent').is(':checked') }]);
          var plugin=$selectableTree.data('plugin-ref');
          plugin.toggleNodeSelected(selectableNodes, { silent: $('#chk-select-silent').is(':checked') });
        });



        var $expandibleTree = $('#tree-expandible').tree({
          data: defaultData,
          onNodeCollapsed: function(event, node) {
            $('#expandible-output').prepend('<p>' + node.text + ' was collapsed</p>');
          },
          onNodeExpanded: function (event, node) {
            $('#expandible-output').prepend('<p>' + node.text + ' was expanded</p>');
          }
        });

        var findExpandibleNodess = function() {
          //return $expandibleTree.tree('search', [ $('#input-expand-node').val(), { ignoreCase: false, exactMatch: false } ]);
          var plugin=$expandibleTree.data('plugin-ref');
          return plugin.search($('#input-expand-node').val(), { ignoreCase: false, exactMatch: false });
        };
        //var expandibleNodes = findExpandibleNodess();

        // Expand/collapse/toggle nodes
        $('#input-expand-node').on('keyup', function (e) {
          var expandibleNodes = findExpandibleNodess();
          $('.expand-node').prop('disabled', !(expandibleNodes.length >= 1));
        });

        $('#btn-expand-node.expand-node').on('click', function (e) {
          var levels = $('#select-expand-node-levels').val();
          //$expandibleTree.tree('expandNode', [ expandibleNodes, { levels: levels, silent: $('#chk-expand-silent').is(':checked') }]);
          var expandibleNodes = findExpandibleNodess();
          var plugin=$expandibleTree.data('plugin-ref');
          plugin.expandNode(expandibleNodes, { levels: levels, silent: $('#chk-expand-silent').is(':checked') });
        });

        $('#btn-collapse-node.expand-node').on('click', function (e) {
          //$expandibleTree.tree('collapseNode', [ expandibleNodes, { silent: $('#chk-expand-silent').is(':checked') }]);
          var expandibleNodes = findExpandibleNodess();
          var plugin=$expandibleTree.data('plugin-ref');
          plugin.collapseNode(expandibleNodes, { silent: $('#chk-expand-silent').is(':checked') });
        });

        $('#btn-toggle-expanded.expand-node').on('click', function (e) {
          //$expandibleTree.tree('toggleNodeExpanded', [ expandibleNodes, { silent: $('#chk-expand-silent').is(':checked') }]);
          var expandibleNodes = findExpandibleNodess();
          var plugin=$expandibleTree.data('plugin-ref');
          plugin.toggleNodeExpanded(expandibleNodes, { silent: $('#chk-expand-silent').is(':checked') });
        });

        // Expand/collapse all
        $('#btn-expand-all').on('click', function (e) {
          var levels = $('#select-expand-all-levels').val();
          //$expandibleTree.tree('expandAll', { levels: levels, silent: $('#chk-expand-silent').is(':checked') });
          var plugin=$expandibleTree.data('plugin-ref');
          plugin.expandAll({ levels: levels, silent: $('#chk-expand-silent').is(':checked') });
        });

        $('#btn-collapse-all').on('click', function (e) {
          //$expandibleTree.tree('collapseAll', { silent: $('#chk-expand-silent').is(':checked') });
          var plugin=$expandibleTree.data('plugin-ref');
          plugin.collapseAll({ silent: $('#chk-expand-silent').is(':checked') });
        });



        var $checkableTree = $('#tree-checkable').tree({
          data: defaultData,
          showIcon: false,
          showCheckbox: true,
          onNodeChecked: function(event, node) {
            $('#checkable-output').prepend('<p>' + node.text + ' was checked</p>');
          },
          onNodeUnchecked: function (event, node) {
            $('#checkable-output').prepend('<p>' + node.text + ' was unchecked</p>');
          }
        });

        var pluginCT=$checkableTree.data('plugin-ref');

        var findCheckableNodess = function() {
          //return $checkableTree.tree('search', [ $('#input-check-node').val(), { ignoreCase: false, exactMatch: false } ]);
          return pluginCT.search($('#input-check-node').val(), { ignoreCase: false, exactMatch: false });
        };
        var checkableNodes = findCheckableNodess();

        // Check/uncheck/toggle nodes
        $('#input-check-node').on('keyup', function (e) {
          checkableNodes = findCheckableNodess();
          $('.check-node').prop('disabled', !(checkableNodes.length >= 1));
        });

        $('#btn-check-node.check-node').on('click', function (e) {
          //$checkableTree.tree('checkNode', [ checkableNodes, { silent: $('#chk-check-silent').is(':checked') }]);
          pluginCT.checkNode(checkableNodes, { silent: $('#chk-check-silent').is(':checked') });
        });

        $('#btn-uncheck-node.check-node').on('click', function (e) {
          //$checkableTree.tree('uncheckNode', [ checkableNodes, { silent: $('#chk-check-silent').is(':checked') }]);
          pluginCT.uncheckNode(checkableNodes, { silent: $('#chk-check-silent').is(':checked') });
        });

        $('#btn-toggle-checked.check-node').on('click', function (e) {
          //$checkableTree.tree('toggleNodeChecked', [ checkableNodes, { silent: $('#chk-check-silent').is(':checked') }]);
          pluginCT.toggleNodeChecked(checkableNodes, { silent: $('#chk-check-silent').is(':checked') });
        });

        // Check/uncheck all
        $('#btn-check-all').on('click', function (e) {
          //$checkableTree.tree('checkAll', { silent: $('#chk-check-silent').is(':checked') });
          pluginCT.checkAll({ silent: $('#chk-check-silent').is(':checked') });
        });

        $('#btn-uncheck-all').on('click', function (e) {
          //$checkableTree.tree('uncheckAll', { silent: $('#chk-check-silent').is(':checked') });
          pluginCT.uncheckAll({ silent: $('#chk-check-silent').is(':checked')});
        });



        var $disabledTree = $('#tree-disabled').tree({
          data: defaultData,
          onNodeDisabled: function(event, node) {
            $('#disabled-output').prepend('<p>' + node.text + ' was disabled</p>');
          },
          onNodeEnabled: function (event, node) {
            $('#disabled-output').prepend('<p>' + node.text + ' was enabled</p>');
          },
          onNodeCollapsed: function(event, node) {
            $('#disabled-output').prepend('<p>' + node.text + ' was collapsed</p>');
          },
          onNodeUnchecked: function (event, node) {
            $('#disabled-output').prepend('<p>' + node.text + ' was unchecked</p>');
          },
          onNodeUnselected: function (event, node) {
            $('#disabled-output').prepend('<p>' + node.text + ' was unselected</p>');
          }
        });

        var pluginDS=$disabledTree.data('plugin-ref');
        var findDisabledNodes = function() {
          //return $disabledTree.tree('search', [ $('#input-disable-node').val(), { ignoreCase: false, exactMatch: false } ]);
          return pluginDS.search($('#input-disable-node').val(), { ignoreCase: false, exactMatch: false });
        };
        var disabledNodes = findDisabledNodes();

        // Expand/collapse/toggle nodes
        $('#input-disable-node').on('keyup', function (e) {
          disabledNodes = findDisabledNodes();
          $('.disable-node').prop('disabled', !(disabledNodes.length >= 1));
        });

        $('#btn-disable-node.disable-node').on('click', function (e) {
          //$disabledTree.tree('disableNode', [ disabledNodes, { silent: $('#chk-disable-silent').is(':checked') }]);
          pluginDS.disableNode(disabledNodes, { silent: $('#chk-disable-silent').is(':checked') });
        });

        $('#btn-enable-node.disable-node').on('click', function (e) {
          //$disabledTree.tree('enableNode', [ disabledNodes, { silent: $('#chk-disable-silent').is(':checked') }]);
          pluginDS.enableNode(disabledNodes, { silent: $('#chk-disable-silent').is(':checked') });
        });

        $('#btn-toggle-disabled.disable-node').on('click', function (e) {
          //$disabledTree.tree('toggleNodeDisabled', [ disabledNodes, { silent: $('#chk-disable-silent').is(':checked') }]);
          pluginDS.toggleNodeDisabled(disabledNodes, { silent: $('#chk-disable-silent').is(':checked') });
        });

        // Expand/collapse all
        $('#btn-disable-all').on('click', function (e) {
          //$disabledTree.tree('disableAll', { silent: $('#chk-disable-silent').is(':checked') });
          pluginDS.disableAll({ silent: $('#chk-disable-silent').is(':checked') });
        });

        $('#btn-enable-all').on('click', function (e) {
          //$disabledTree.tree('enableAll', { silent: $('#chk-disable-silent').is(':checked') });
          pluginDS.enableAll({ silent: $('#chk-disable-silent').is(':checked') });
        });



        // var $tree = $('#tree12').tree({
        //   data: json
        // });
        });
    </script>
  </body>
</html>
