    <div class="bs-docs-section">
        <h1 id="tree" class="page-header">tree</h1>
        <p class="lead">tree</p>
        <h2 id="tree-overview">概述</h2>
        <p>概述概述</p>
        <h2 id="tree-examples">示例</h2>
        <p>示例示例</p>

        <p><a href="/demo/components/tree/example.html" target="_black">示例</a>

        <div class="row">
            <div class="col-md-5" ng-controller="treeController">
                <label for="tree">树型控件</label>
                <input type="button" value="折叠" ng-click="collapseAll()">
                <input type="button" value="展开" ng-click="expandAll()">
                <input type="button" value="换数据" ng-click="changeData()">
                <!--
                    data-fn-onNodeSelected="ctrlFn(e, node)"
                    callback-fn="ctrlFn(e, node)"
                    tree='{"options":"treeOptions", "ref":"treeRef"}'
                -->
                <div 
                    id="tree"
                    tree
                    class="t-tree" 
                    data-t-show-tags="true"
                    data-t-levels="5"
                    data-t-data-url="/demo/components/tree/data.json"
                    tree-api="treeApi"></div>
            </div>
            <div class="col-md-7">
                <pre class="prettyprint">
                &lt; &quot; &quot; &gt;
                </pre>
            </div>
        </div>

        <h2 id="tree-api">API</h2>
        <p>APIAPI</p>

    </div> 