    <div class="bs-docs-section">
        <h1 id="typeahead" class="page-header">typeahead</h1>
        <p class="lead">typeahead</p>
        <h2 id="typeahead-overview">概述</h2>
        <p>概述概述</p>
        <h2 id="typeahead-examples">示例</h2>
        <p>示例示例</p>

        <div class="row">
            <div class="col-md-5" ng-controller="bindController">
                <label for="typeahead">Label</label>
                <span>{{typeaheadValue}}</span>
                <input type="button" value="Ohio" ng-click="typeaheadValue='Ohio'">
                <input 
                    id="typeahead"
                    type="type"
                    class="t-typeahead form-control"
                    name="typeahead"
                    value=""
                    typeahead
                    ng-model="typeaheadValue"
                    data-t-source=''
                    data-t-data-url="/demo/controls/typeahead/data.json"
                    />
            </div>
            <div class="col-md-7">
                <pre class="prettyprint">
                &lt; &quot; &quot; &gt;
                </pre>
            </div>
        </div>

        <h2 id="typeahead-api">API</h2>
        <p>APIAPI</p>

    </div> 