    <div class="bs-docs-section">
        <h1 id="validator" class="page-header">validator</h1>
        <p class="lead">validator</p>
        <h2 id="validator-overview">概述</h2>
        <p>概述概述</p>
        <h2 id="validator-examples">示例</h2>
        <p>示例示例</p>

        <div class="row">
            <div class="col-md-12">

            <form class="cmxformX" id="commentFormx" method="get" action="" novalidate>
                <div class="form-group">
                    <label for="cname">Name (required, at least 2 characters)</label>
                    <input id="cname" type="text" name="name" class="form-control" minlength="2" required>
                </div>
                <div class="form-group">
                    <label for="cemail">E-Mail (required)</label>
                    <input id="cemail" type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="password_again">Again</label>
                    <input id="password_again" name="password_again" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="curl">URL (optional)</label>
                    <input id="curl" type="url" name="url" class="form-control">
                </div>
                <div class="checkbox">
                    <label for="ccomment">Your comment (required)</label>
                    <textarea id="ccomment" name="comment" class="form-control" required></textarea>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <!--
            <form class="cmxform" id="commentForm" method="get" action="">
            <fieldset>
                <legend>Please provide your name, email address (won't be published) and a comment</legend>
                <p>
                    <label for="cname">Name (required, at least 2 characters)</label>
                    <input id="cname" name="name" minlength="2" type="text" required>
                </p>
                <p>
                    <label for="cemail">E-Mail (required)</label>
                    <input id="cemail" type="email" name="email" required>
                </p>
                <p>
                    <label for="curl">URL (optional)</label>
                    <input id="curl" type="url" name="url">
                </p>
                <p>
                    <label for="ccomment">Your comment (required)</label>
                    <textarea id="ccomment" name="comment" required></textarea>
                </p>
                <p>
                    <input class="submit" type="submit" value="Submit">
                </p>
            </fieldset>
            </form>
            -->

            </div>
        </div>


        <div class="row">
            <div class="col-md-5">
                <label for="ctrlid">Label</label>
                <!-- <validator 
                    id="ctrlid"
                    type="type"
                    class="t-validator form-control"
                    name="validator"
                    value=""
                    validator
                    data-t-validator=""
                    data-t-data-url="/demo/components/validator/data.json"
                    /> -->
            </div>
            <div class="col-md-7">
                <pre class="prettyprint">
                &lt; &quot; &quot; &gt;
                </pre>
            </div>
        </div>

        <h2 id="validator-api">API</h2>
        <p>APIAPI</p>

    </div> 