    <div class="bs-docs-section">
        <h1 id="orgslt" class="page-header">orgslt</h1>
        <p class="lead">orgslt需求</p>
        <h2 id="orgslt-overview">概述</h2>
        <p>概述概述</p>
        <h2 id="orgslt-examples">示例</h2>
        <p>示例示例</p>

        <!-- 
        -->
        <div class="row">
            <div class="col-md-5">
                <label for="orgslt">人员</label>
                <input 
                    id="orgslt"
                    type="text"
                    class="orgslt form-control"
                    name="orgslt"
                    value=""
                    orgslt
                    data-s-muliti="true"
                    data-s-orgslt-names=" ..."
                    data-s-data-url="/demo/components/orgslt/data.json"
                    />
            </div>
            <div class="col-md-7">
                <pre class="prettyprint">
&lt;input 
    id=&quot;orgslt&quot;
    typ=&quot;text&quot;
    name=&quot;orgslt&quot;
    value=&quot;&quot;
    orgslt
    data-s-muliti=&quot;true&quot;
    data-s-orgslt-names=&quot;...&quot;
    data-s-data-url=&quot;/demo/components/orgslt/data.json&quot;
    /&gt;
                </pre>
            </div>
        </div>


        <h2 id="orgslt-api">API</h2>
        <p>APIAPI</p>
    </div> 