<!DOCTYPE html>
<!-- http://tools.ietf.org/html/bcp47 -->
<html lang="zh-cmn-Hans">
	<head>
    	@@include('../shared/head.html')
	</head>
	<body>
    	<!-- 文档主菜单 -->
		@@include('../shared/header.html')

		<!-- 文档页布局 -->
		@@include('../shared/kiss.html')		

		<div class="container bs-docs-container">
			<div class="row">

				<div class="col-md-3" role="complementary">

					@@include('./sidenav.html')

				</div>

				<div class="col-md-9" role="main">

                    @@include('./typeahead/index.html')

                    @@include('./rightselect/index.html')
					
					@@include('./menu/index.html')

					@@include('./sidebar/index.html')

                    @@include('./carousel/index.html')

                    @@include('./level/index.html')

                    @@include('./modal/index.html')

                    @@include('./orgselect/index.html')
					
					@@include('./tab/index.html')

					@@include('./tree/index.html')

					@@include('./login/index.html')

				</div>

			</div>
		</div>


		@@include('../shared/footer.html')

	</body>
</html>